OLLAMA_URL=http://ada:11434
OLLAMA_TIMEOUT=300
DEFAULT_MODEL=qwen3:4b
INTENT_MODEL=qwen3:1.7b
DATABASE_URL=sqlite:///data/adacore.db
DEFAULT_MODEL_THINKING=False
DEFAULT_MODEL_OPTIONS={"temperature": 0}
INTENT_MODEL_THINKING=False
INTENT_MODEL_OPTIONS={"temperature": 0}